body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("./img/wood.jpg");
  background-position: center;
  color: white;
  font-size: 16px;
}

:root {
  --light-brown: #683511;
  --dark-brown: #f1d4ac;
  --black: black;
  --white: #fff;
  --yellow: yellow;
  --highlight-grren: rgb(81, 110, 81);
  --gold: gold;
  --red: rgb(160, 3, 3);
}

.board-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-page h1 {
  font-size: 3rem;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 550px;
}

.square {
  width: calc(100% / 8);
  height: calc(100% / 8);
  display: flex;
  box-sizing: border-box;
}

.light-brown {
  background-color: var(--light-brown);
}

.dark-brown {
  background-color: var(--dark-brown);
}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin: auto;
}

.black {
  background-color: var(--black);
}

.white {
  background-color: var(--white);
}

.selected {
  border: 3px solid var(--yellow);
}

.highlight {
  background-color: var(--highlight-grren);
}

.gold {
  background-color: var(--gold);
}
.red {
  background-color: var(--red);
}

.status-container {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#status,
#last-move-timestamp {
  font-size: 1.5em;
  font-weight: bold;
  padding: 7px 0;
}

#new-game-btn,
#play-again-btn {
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 1.4em;
  border-radius: 5px;
  border: 3px solid var(--black);
  margin-bottom: 20px;
  font-weight: bold;
}

.game-over {
  display: flex;
  gap: 50px;
}

.error-message {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5em;
}
